@font-face {
    font-family: "Charlevoix Pro";
    src: url("CharlevoixPro-Thin.otf") format("opentype");

    font-weight: lighter;
}

@font-face {
    font-family: "Charlevoix Pro";
    src: url("CharlevoixPro-Bold.otf") format("opentype");

    font-weight: bolder;
}

@font-face {
    font-family: "Charlevoix Pro";
    src: url("CharlevoixPro-Black.otf") format("opentype");

    font-weight: bold;
}

@font-face {
    font-family: "Charlevoix Pro";
    src: url("CharlevoixPro-Regular.otf") format("opentype");

    font-weight: normal;
}
