$minimum-text-header: 48;
$maximum-text-header: 72;
$minimum-text: 14;
$maximum-text: 36;

#about-splash,
#about-splash-mobile {
    position: absolute;
}

.about-text-container {
    position: absolute;
    z-index: 1;
}

.about-name {
    font-weight: bolder;
    color: $text_accent;
    margin-bottom: 0;
    font-size: $header_text_size;
}

.about-description {
    color: $text_accent;
    margin-top: 1vw;
    font-size: $body_text_size;
}

@media only screen and (min-width: 1081px) {
    #about-splash {
        bottom: 0;
        left: 0;
        width: 62vw;
    }

    // This is sad. But I'll figure out a better solution later.
    #about-splash-mobile {
        display: none;
    }

    .about-text-container {
        left: 58vw;
        width: 26vw;
        height: 100%;
        @include column;
        justify-content: center;
    }
}

@media only screen and (max-width: 1080px) {
    #about-splash-mobile {
        width: 80vw;
        right: 0;
        top: 0;
    }

    #about-splash {
        display: none;
    }

    .about-text-container {
        left: $border_margin;
        bottom: $border_margin;
        width: 60%;
    }
}
