@mixin column {
    display: flex;
    flex-direction: column;
}

@mixin row {
    display: flex;
    flex-direction: row;
}

/**
Returns a unit value that scales based on the max and min between the maximum and minimun viewport size.
@param min: A *unitless* number that represents the min value, ie 300.
@param min_unit: The min number, with a unit attached, ie 300px.
@param max: A *unitless* number that represents the max value, ie 700.
*/
@function scale_value($min, $min_unit, $max) {
    @return calc(
        #{$min_unit} + (#{$max} - #{$min}) * ((100vw - #{$min_screen_size_px}) /
                    (#{$max_screen_size} - #{$min_screen_size}))
    );
}
