.hide {
    display: none;
}

.nav-container {
    position: fixed;
    width: 100%;
    top: 0;
    @include row;
    justify-content: space-between;
    padding: $border_margin $border_margin 0 $border_margin;
    z-index: 999;
    font-size: $nav_link_text_size;
    background-color: transparent;
}

.nav-container .nav-link {
    margin-left: $border_margin;
}

.nav-icon {
    width: $nav_icon_size;
    min-width: 40px;
    transition: $nav_expansion_duration;
    transition-timing-function: ease-in-out;
}

.nav-icon:hover {
    transform: scale(1.1);
}

.nav-link {
    font-family: "Work Sans";
    font-weight: normal;
    color: $text_main;
    text-decoration: none;
    user-select: none;
}

.selected-link {
    color: $text_selected;
    font-weight: bold;
}

.nav-link:hover {
    color: $text_selected;
    transition: $text_selection_duration;
}

#home-nav {
    display: none;
}

@media only screen and (min-width: $mobile_screen_size) {
    #nav-close,
    #nav-toggle {
        display: none;
    }
}

@media only screen and (max-width: $mobile_screen_size) {
    .nav-container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 51, 0.9);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .nav-container .nav-link {
        margin-left: 0;
    }

    .nav-container div {
        @include column;
        justify-content: center;
        align-content: center;
    }

    .nav-container a {
        display: block;
        padding: 5vw 0 0 5vw;
        font-weight: bold;
        text-decoration: none;
        padding-bottom: 0.25em;
        font-size: $nav_hamburger_link_size;
    }

    .nav-close {
        position: absolute;
        left: 0;
        top: 0;
    }

    .nav-toggle {
        display: initial;
    }
}
