@import "./variables.scss";

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: $text_main;
    border: 2px solid $body_background;
    border-radius: 20px;
    margin: 1em 0;
}

::-webkit-scrollbar-thumb:hover {
    transition: all 1s ease-in-out;
    background: $text_selected;
}

.work-container {
    @include column;
    min-height: 100%;
    justify-content: center;
    width: 100%;
    margin-left: $border_margin;
}

.work-links {
    @include row;
    align-items: center;
    height: 100%;
}

.work-filters {
    @include row;
    position: relative;
    margin-top: 2em;
}
// Src: www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox
.container {
    display: block;
    position: relative;
    padding: 0 35px 0 35px;
    cursor: pointer;
    font-size: $nav_link_text_size;
    color: $text_main;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 3px;
    transition: all 0.1s linear;
}

.container:hover input ~ .checkmark {
    background-color: rgba($color: #ffffff5d, $alpha: 0.25);
}

.container input:checked ~ .checkmark {
    background-color: white;
}

.work-tile {
    cursor: pointer;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    min-width: 30%;
    padding-top: 30%;
    margin-right: 1em;
    background-color: rgba($color: #ffffff5d, $alpha: 0.5);
    overflow: hidden;
    color: transparent;

    a {
        text-decoration: none;
        font-weight: bold;
        position: absolute;
        font-size: 2vw;
        width: 75%;
        top: 50%;
        text-align: center;
    }

    &,
    img {
        transition: all 0.2s ease-in-out;
    }

    img {
        opacity: 1;
        position: absolute;
        height: 100%;
        top: 0;
    }

    &:hover {
        color: $text_main;
        background-color: $body_background;
        img {
            transform: scale(1.15);
            opacity: .5;
        }
    }
}

.archive-tile {
    color: $text_main;
    background-color: transparent;
    border: 1px solid $text_accent;
}

.work-link {
    font-family: $font_family;
    font-weight: bolder;
    color: $text_accent;
    font-size: $work_link_text_size;
    user-select: none;
    text-decoration: none;
    margin: 0 0.75rem 0 0.75rem;
}

.work-link:hover {
    color: $text_selected;
    transition: $text_selection_duration;
}

#archive {
    color: $body_background;
}

#archive:hover {
    transition: $text_selection_duration;
}

@media only screen and (max-width: 1080px) {
    .work-filters {
        padding: 9em 0 7% 5%;
    }

    .work-container {
        padding-top: 4vw;
        margin-left: 0;
        flex-direction: column-reverse;
    }

    .work-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        margin: 0 0 $work_top_padding 0;
    }

    .work-tile {
        min-width: 90%;
        padding-top: 90%;
        margin: 0 0 1em 0;

        a {
            font-size: 6vw;
        }

        &:hover {
            background-color: $body_background;
        }
    }
}
