@import "./variables.scss";

.work-container {
    display: inline-block;
    width: 100%;
    background-color: $body_background;
}

.work-links {
    display: flex;
    flex-direction: column;
    padding: 0 $work_side_padding 0 $work_side_padding;
    margin-top: $work_top_padding;
}

.work-link {
    font-family: "Work Sans";
    font-weight: bolder;
    color: $text_accent;
    font-size: $work_link_text_size;
    user-select: none;
    text-decoration: none;
    margin-bottom: 0.5em;
}

.work-link:hover {
    color: $text_selected;
    transition: $text_selection_duration;
}

#archive {
    color: $body_background;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $text_accent;
}

#archive:hover {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $text_selected;
    transition: $text_selection_duration;
}
