@import "./variables.scss";

.project-information-container {
    h1,
    h2 {
        font-weight: bolder;
        color: $text_accent;
        font-size: $header_text_size;
    }
}

.case-study-container {
    @include row;
    width: 100%;
    justify-content: center;
}

.case-study-content {
    display: flex;
    flex-direction: column;
    max-width: min(50vw, 980px);
    p,
    a,
    ul,
    ol {
        color: $text_accent;
        margin-top: 2vh;
        font-size: $body_text_size;
    }
    a {
        font-weight: bolder;
    }
}

.study-section {
    margin-top: 3em;
}

.description-container {
    & .nav-link {
        margin-right: 1em;
    }
}

.project-date {
    font-weight: bold;
}

.work-footer {
    flex-shrink: 0;
    margin-top: 10vw;
    width: 100%;
}

.work-footer-wave {
    width: 100%;
    z-index: -1;
}

.project-link-container {
    @include row;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    padding-bottom: 3em;
}

.project-link {
    text-decoration: none;
    user-select: none;
    font-weight: 200;
    color: $text_accent;
    font-size: $nav_link_text_size;
    transition: $nav_expansion_duration;
    transition-timing-function: ease-in-out;
}

.project-link:hover {
    color: $text_selected;
    transition: $text_selection_duration;
}

.wave-group {
    width: 100%;
    position: absolute;
    left: 0;
}

.wave-container {
    bottom: 0;
    position: absolute;
}

#next-link {
    align-self: flex-end;
}

#footer-wave-left {
    left: 0;
    width: 50vw;
}

#footer-wave-right {
    right: 0;
    width: 70vw;
}

@media only screen and (min-width: 1080px) {
}

@media only screen and (max-width: 1080px) {
}
